*, html, body {

    margin: 0px;
    padding: 0px;
    font-family: "Plus Jakarta Sans";
    scroll-behavior: smooth;

}

.regular{

    font-weight: 400;

}

.medium {
    
    font-weight: 500px;

}

.bold {

    font-weight: 700px;

}

.container {
    position: fixed;
    width: 100%;
    height: 110px;
    
}

.wrappernav{
    background-color: rgba(242, 242, 242, 0.35);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
}

.navigation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(242, 242, 242, 0.35);
    backdrop-filter: blur(30px);
    padding-left: 216px;
    padding-right: 216px;
    
}

.navigation > li {
    
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    font-size: 20px;
    width: 74px;

}

.navigation > li > a {
    text-decoration: none;
    color: black;
}


.navigation > li > a:hover {

    color: #4D4D4D;
    transition: all .3s ease-in-out;

}

.navigation > li:hover .iconbackbutton {

    color: #4D4D4D;
    transition: all .3s ease-in-out;

}

.iconbackbutton .backbutton-project {

    fill: currentColor;
    transition: fill 0.3s ease;

}

.backbutton-project {

    display: flex;
    gap: 10px;

}

h5 {
    color: #666666;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    color: #202020;
    font-size: 60px;
    font-weight: 700;
}

h6 {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 400;
    /* text-align: center; */
}

h4 {

    font-size: 30px;
    font-weight: 400;

}  

    @media (min-width: 1618px) {

.description {
    
    padding-left: 216px;
    padding-right: 216px;
    padding-top: 300px;
    padding-bottom: 180px;

    display: flex;
    flex-direction: row;
    gap: 32px;

}

.layout-projectname {

    width: 576px;

}

/* LEFT DESCRIPTION */

.leftdescription {

    display: flex;
    flex-direction: column;
    gap: 44px;

}

.titleproject {

    color: #666666;

}

.titletools {

    color: #666666;

}

.titleyear {

    color: #666666;

}

.descriptiontools {

    color: #202020;
    font-weight: 500;

}

.descriptionyear {

    color: #202020;
    font-weight: 500;

}

/* RIGHT DESCRIPTION */

.rightdescription {

    display: flex;
    flex-direction: column;
    gap: 24px;

    text-align: justify;

}

.titledescription {

    color: #666666;

}

.description1 .description2 {

    color: #202020;

}

/* PROJECT SHOW 1 */

.section-show1 {

    width: 1920px;
    height: 970px;

}

.show1 {

    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 364px;
    padding-right: 364px;

    justify-content: center;
}

/* PROJECT SHOW 2 */

.section-show2 {

    width: 1920px;
    height: 970px;

}

.show2 {

    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 364px;
    padding-right: 364px;

    justify-content: center;
}

/* SECTION SHOW 3 */

.section-show3 {

    width: 1920px;
    height: 970px;

}

.show3 {

    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 364px;
    padding-right: 364px;

    justify-content: center;
}


/* SECTION CONTACT ME */

.contactme{

    display: flex;
    flex-direction: column;
    height: 970px;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.text-contactme {

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

}

.contactme > .text-email {

    color: #1A1A1A;

}

.logo-linkedin {

    color: #202020;

}

.logo-linkedin:hover {


    border-radius: 10px;
    color: #666666;
    text-decoration: none;

}

    }

@media (max-width: 1617px) {

.description {
    
    padding-left: 216px;
    padding-right: 216px;
    padding-top: 300px;
    padding-bottom: 180px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    

}

.layout-projectname {

    width: 576px;

}

/* LEFT DESCRIPTION */

.leftdescription {

    display: flex;
    flex-direction: column;
    gap: 44px;

}

.titleproject {

    color: #666666;

}

.titletools {

    color: #666666;

}

.titleyear {

    color: #666666;

}

.descriptiontools {

    color: #202020;
    font-weight: 500;

}

.descriptionyear {

    color: #202020;
    font-weight: 500;

}

/* RIGHT DESCRIPTION */

.rightdescription {

    display: flex;
    flex-direction: column;
    gap: 24px;

    text-align: justify;

}

.titledescription {

    color: #666666;

}

.description1 .description2 {

    color: #202020;

}

/* PROJECT SHOW 1 */

.section-show1 {

    width: 1920px;
    height: 970px;

}

.show1 {
    
    display: flex;

    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;

    justify-content: center;
}

.show1 img {

    width: 100%;

}

/* PROJECT SHOW 2 */

.section-show2 {

    width: 1920px;
    height: 970px;

}

.show2 {

    display: flex;

    padding: 64px;

    justify-content: center;
}

.show2 img {

    width: 100%;


}

/* SECTION SHOW 3 */

.section-show3 {

    width: 1920px;
    height: 970px;

}

.show3 {

    display: flex;

    padding: 64px;

    justify-content: center;
}

.show3 img {

    width: 100%;

}

/* SECTION CONTACT ME */

.contactme{

    display: flex;
    flex-direction: column;
    height: 970px;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.text-contactme {

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

}

.contactme > .text-email {

    color: #1A1A1A;

}

.logo-linkedin {

    color: #202020;

}

.logo-linkedin:hover {


    border-radius: 10px;
    color: #666666;
    text-decoration: none;

}

}


